{% from "macros/common.conf" import login, section with context %}

{{ section("common", "ospf") }}
{{ section("cr", "bgp") }}

replace: policy-options {
    {{ section("cr", "policy-options", 4) }}
}

routing-options {
    {{ section("cr", "routing-options", 4) }}
}
